@import "bootstrap/scss/bootstrap";
@import "./fonticons";

/* Color sets */
$md-navy: #0D47A1;
$md-red: #D50000;

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Navbar */
.navbar {
  background: $md-navy;
  a {color: #CCC;}
  a:hover {color: #FFF;}
  a.active {color: $md-red;}
  img.logo {
    height: 30px;
  }
}

/* homepage */
#home {
  header {
    background-image: -moz-linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://lh3.googleusercontent.com/-wNR84-Qn9QM/Vb34fpeKa-I/AAAAAAACjrM/O_ptXGN6F-Y/s800-Ic42/Modestas-Urbonas-bridge.jpeg");
    background-image: -webkit-linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), -webkit-image-set( url(https://lh3.googleusercontent.com/-wNR84-Qn9QM/Vb34fpeKa-I/AAAAAAACjrM/O_ptXGN6F-Y/s800-Ic42/Modestas-Urbonas-bridge.jpeg) 1x, url(https://lh3.googleusercontent.com/-wNR84-Qn9QM/Vb34fpeKa-I/AAAAAAACjrM/O_ptXGN6F-Y/s800-Ic42/Modestas-Urbonas-bridge.jpeg) 2x);
    background-image: -ms-linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://lh3.googleusercontent.com/-wNR84-Qn9QM/Vb34fpeKa-I/AAAAAAACjrM/O_ptXGN6F-Y/s800-Ic42/Modestas-Urbonas-bridge.jpeg");
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://lh3.googleusercontent.com/-wNR84-Qn9QM/Vb34fpeKa-I/AAAAAAACjrM/O_ptXGN6F-Y/s800-Ic42/Modestas-Urbonas-bridge.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 35em;
    height: 100vh;
  }

  section {
    padding: 100px 0;
    h2.section-heading {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
    }
    h3.section-subheading {
      font-size: 16px;
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: none;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 75px;
    }
    @include media-breakpoint-up(md) {
        padding: 150px 0;
    }
  }
}

/* profile - CV */
#profile {

}

/* portfolio - Works */
#Portfolio {
  .btn-sm {
    padding: 0.1rem 0.25rem;
    font-size: 0.75rem;
    margin-right: 0.1rem;
  }
}

/* canvas - D3 Visualization */
#canvas {
  .bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    margin-right: 2px;
    background-color: teal;
  }
}

footer {
  padding: 2rem 0 1rem;
  background: $md-navy;
  text-align: center;
  color: white;

  a {
    color: white;
    &:focus, &:hover {
      color: $md-red;
      text-decoration: none;
    }
  }

  p#copyright {
    margin-top: 0.5rem;
  }

  ul.social-buttons li {
    a span i.hoonio-stack-1x {
      color: $md-navy;
    }
  }

  ul.list-inline:not(.social-buttons){
    margin-top: 0.5rem;
  }

  .list-inline-item{
    padding-right: 5px;
    padding-left: 5px;
  }
}
